aiohttp
aiosignal
alkana
async-generator
attrs
beautifulsoup4
cachetools
certifi
cffi
chardet
charset-normalizer
ckip-transformers
click
colorama
diskcache
emoji
et-xmlfile
filelock
frozenlist
fsspec
google
google-api-core
google-auth
google-cloud-language
googleapis-common-protos
googletrans
grpcio
grpcio-status
gTTS
h11
h2
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
jieba
Jinja2
joblib
keyboard
llama_cpp_python
MarkupSafe
mecab-python3
mpmath
multidict
mysql-connector-python
networkx
nltk
numpy
openai
openpyxl
outcome
packaging
pandas
pip
plac
proto-plus
protobuf
psutil
pyasn1
pyasn1-modules
PyAudio
pycparser
PySocks
pytchat
python-dateutil
pytz
PyYAML
regex
requests
rfc3986
rsa
safetensors
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
SpeechRecognition
stanfordcorenlp
sympy
textblob
tokenizers
torch
tqdm
transformers
trio
trio-websocket
typing_extensions
tzdata
unidic
urllib3
vaderSentiment
wasabi
wsproto
yarl
